<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">MyCollege</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="/aboutUs">
                About Us
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <%- include('themeToggleBtn.ejs') %>                
            </div>
            <div class="navbar-item">
                <% if(page=='Register' || page=='Complete Profile' || page=='Register OTP') { %>
                    <a href="/auth/login" class="button is-light">
                        Login
                    </a>
                <% } else { %>
                    <a href="/auth/register" class="button is-primary">
                        Register
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>