<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Username</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/partials/homeCommon.css">
</head>
<body>
    <!-- Auth-Navbar -->
    <%- include('partials/navbarAuth.ejs') %>

    <section class="section">
        <div class="container">
            <h1 class="title">Forgot Password</h1>
            <p class="subtitle">Please enter your username(email): </p>
            <form>
                <div class="field">
                    <label class="label" for="username">Username(Email) :</label>
                    <div class="control">
                        <input class="input" type="email" id="username" name="username" maxlength="100" required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit" formmethod="post" formaction="/auth/login/forgotPassword/username">Submit</button>
                    </div>
                    <div class="control">
                        <!-- <button class="button is-danger" type="submit" form="dummy-form" formmethod="get" formaction="/auth/login">Cancel</button> -->
                        <a class="button is-danger" href="/auth/login">Cancel</a>
                    </div>
                </div>
            </form>
            <!-- <form id="dummy-form" style="display: none;"></form> -->
        </div>
    </section>

    <!-- Common Ending code -->
    <%- include('partials/commonEnd.ejs') %>

    <script src="/js/partials/homeCommon.js"></script>
</body>
</html>
